{sub_dirs, ["rel"]}.

{deps_dir, "../../deps"}.

{deps, [
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "1.1.0"}},
    {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", "0.8.1p5"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", "2.1.1"}}
]}.

{erl_opts, [debug_info,
            fail_on_warning,
            {outdir, "ebin"},
            warn_export_all,
            {parse_transform, lager_transform}
            ]
}.
